.login-page {
  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: #fff;
  border-radius: 16px;
}

.login-logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

